<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="naverConnectionMaker" class="com.naver.kinow.dao.NaverConnectionMaker"/>
	<bean id="localConnectionMaker" class="com.naver.kinow.dao.LocalConnectionMaker"/>
	<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/spring" />
		<property name="username" value="kinow" />
		<property name="password" value="830421" />
	</bean>

	<bean id="userDao" class="spring.learning.jdbcTemplete.UserDao">
		 <property name="dataSource" ref="dataSource"/>
	</bean>

</beans>
